---
---

@import "{{ site.theme }}";

@import url(https://fonts.googleapis.com/css?family=Baloo|Open+Sans);

#project_title {
  font-weight: 400;
}

#project_tagline {
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: 'Baloo', 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

#header_wrap .inner {
  background: url('../images/progress-images/test-stream-result-3-parallel.png') #212121 no-repeat 95% 50%;
}
