---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'Baloo';
  font-style: normal;
  src: url(https://fonts.googleapis.com/css?family=Baloo) format('woff2');
}

h1 {
  margin: 10px 0;
  font-weight: 400;
  color:#222222;
  font-family: 'Baloo', 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
  font-size: 36px;
}
